
<div *ngIf="id.status==='details'">

 <nz-card nzTitle="Employee Loan Repayments Summary" class="mb-3 shadow-sm">
    <div class="flex justify-between">
      <div>
        <h3 class="m-0 text-primary">Total Loan Repayments </h3>
        <h2 class="text-success fw-bold">{{ totalRepayments| number }} </h2>
      </div>

    </div> 
  </nz-card>

<nz-table  #usersTable

 [nzBordered]="true"
  [nzData]="loan" 
  [nzLoading]="loading" 
  [nzFrontPagination]="false"
  [nzPageSize]="pageSize"
  [nzPageSizeOptions]="[5,10,20,30,40,50]"
  nzShowSizeChanger
  nzShowPagination
  [nzTotal]="total"
 (nzPageIndexChange)="onPageChange($event)"
 (nzPageSizeChange)="onPageSizeChange($event)"
 >
  
  <thead>
    <th (click)="deleteAll()" ><button nz-button nzType="primary" nzDanger nzSize="small" ><i nz-icon nzType="delete" nzTheme="outline" ></i>Remove All</button> 
</th>
    <tr style="background-color: rgb(45, 39, 134);">
      <th>Laon ID</th>
      <th>Employee ID</th>
      <th>FullName</th>
      <th>CLR</th>
        <th>Actions</th>
    </tr>
  </thead>
  <tbody>  
    <tr *ngFor="let loan of loan">
      <td>{{ loan.id}}</td>
      <td>{{ loan.employeeId }}</td>
      <td>{{ loan.fullName }}</td>
      <td>{{loan.crassLoanRepayment}}</td>
      <td>
  <button nz-button nzType="primary"  nzSize="small" (click)="updateLoansRepayments(true,loan.id)">
        <i nz-icon nzType="details"></i>Update</button>
        <button nz-button nzType="primary" nzDanger nzSize="small"  (click)="deletebyId(loan.id)">
          <i nz-icon nzType="delete"></i>Remove</button>
      </td>
    </tr>

  </tbody>
</nz-table>
</div>


<div *ngIf="id.status==='create' || (id.status==='update' && updateForm )">
<form   
[formGroup]="loanForm" (ngSubmit)="submitForm()" nz-form nzLayout="vertical">
  <nz-form-item>
    <nz-form-label [nzRequired]="true">Employee ID</nz-form-label>
    <nz-form-control [nzErrorTip]="'Employee ID is required'">
      <input nz-input formControlName="employeeId" placeholder="Enter Employee ID" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzRequired]="true">Full Name</nz-form-label>
    <nz-form-control [nzErrorTip]="'Full Name is required and minimum 3 characters'">
      <input nz-input formControlName="fullName" placeholder="Enter Full Name" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzRequired]="true">Crass Loan Repayment</nz-form-label>
    <nz-form-control [nzErrorTip]="'Crass Loan Repayment must be a positive number'">
      <input nz-input type="number" formControlName="crassLoanRepayment" placeholder="Enter Crass Loan Repayment" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control class="button-create-update">
      <button nz-button nzType="primary" type="submit">  {{id.status==='create'?'Create New LoanRepayment':'Update LoanRepayment'}}  </button>
    </nz-form-control>
  </nz-form-item>
</form>

</div>  