<div *ngIf="haveRole('loan')">
  
  
  <div class="toolbar" style="display:flex; gap:12px; align-items:center; margin-bottom:12px;">
  <button nz-button nzType="primary" nzSize="small" (click)="createLoanRepayments()">
    <i nz-icon nzType="plus" nzTheme="outline"></i>
    New  LoanRepayment
  </button>

  <input
    nz-input
    placeholder="Search Employee ID"
    [(ngModel)]="searchTerm"
    (ngModelChange)="onSearchChange($event)"
    style="width: 320px;"
  />
  <!--<input type="file" accept=".csv" (change)="handleChange($event)" style="margin-left:8px;" /> -->

  <button nz-button nzType="primary" nzSize="small" [nzLoading]="uploading" (click)="uploadFile()">
    <i nz-icon nzType="upload"></i> Upload CSV
  </button>

  <button nz-button nzType="default" nzSize="small" (click)="reloadPage()">
    <i nz-icon nzType="reload"></i> Refresh
  </button>
</div>





<nz-table #usersTable
 [nzBordered]="true"
  [nzData]="loan" 
  [nzLoading]="loading" 
  [nzFrontPagination]="false"
  [nzPageSize]="pageSize"
  [nzPageSizeOptions]="[5,10,20,30,40,50]"
  nzShowSizeChanger
  nzShowPagination
  [nzTotal]="total"
 (nzPageIndexChange)="onPageChange($event)"
 (nzPageSizeChange)="onPageSizeChange($event)"
 >
  
  <thead>
    <tr style="background-color: rgb(45, 39, 134);">
      <th>Repayment ID</th>
      <th>Employee ID</th>
      <th>Month</th>
      <th>FullName</th>
      <th>CLR</th>
      <th>Principal</th>
      <th>Interset</th>
        <th>Actions</th>
    </tr>
  </thead>
  <tbody>  
    <tr *ngFor="let loan of  loan">
      <td>{{ loan.id}}</td>
      <td>{{ loan.employee.id }}</td>
      <td>{{loan.forMonth}}</td>
      <td>{{ loan.fullName }}</td>
      <td>{{loan.crassLoanRepayment}}</td>
      <td>{{loan.principal}}</td>
      <td>{{loan.interset}}</td>
      <td>
  <button nz-button nzType="primary"  nzSize="small" (click)="getLoanRepaymentgById(loan.employee.id)">
        <i nz-icon nzType="more"></i>Details</button>
      </td>
    </tr>

  </tbody>
</nz-table>
</div>
