<nz-layout class="app-layout">
  <!-- Desktop Sidebar -->
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null" nzBreakpoint="lg" [nzCollapsedWidth]="0"
    [nzWidth]="240" class="app-sider desktop-sider">
    <div class="logo-container">
      <div class="logo">
        <img src="/moenco.png" alt="Enat Bank" *ngIf="!isCollapsed" class="logo-image">
        <span class="logo-text" *ngIf="!isCollapsed">Moenco Saccos</span>
      </div>
    </div>
    <ng-container [ngTemplateOutlet]="menuTemplate"></ng-container>
  </nz-sider>
  <!-- Mobile Drawer -->
  <nz-drawer [nzVisible]="!isCollapsed" nzPlacement="left" (nzOnClose)="isCollapsed = true" [nzClosable]="false"
    [nzWidth]="240" [nzBodyStyle]="{ padding: '0', background: '#001529' }" class="mobile-drawer">
    <div *nzDrawerContent>
      <div class="logo-container">
        <div class="logo">
          <img src="/user-manager.png" alt="FY" class="logo-image">
          <span class="logo-text">User Manager</span>
        </div>
      </div>
      <ng-container [ngTemplateOutlet]="menuTemplate"></ng-container>
    </div>
  </nz-drawer>

  <!-- Main Content -->
  <nz-layout class="site-layout">
    <!-- Header -->
    <nz-header class="app-header">
      <div class="header-content">
        <div class="header-left">
          <button nz-button nzType="text" class="trigger" (click)="toggleCollapsed()">
            <span nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
          </button>
          <nz-breadcrumb class="breadcrumb">
            <nz-breadcrumb-item>Home</nz-breadcrumb-item>
            <nz-breadcrumb-item>{{ currentPage }}</nz-breadcrumb-item>
          </nz-breadcrumb>
        </div>

        <div class="header-right">
          <nz-space [nzSize]="16">
            <span class="nz-space-item">
              <div class="user-profile" nz-dropdown [nzDropdownMenu]="userMenu">
                <nz-avatar nzIcon="user" class="user-avatar"></nz-avatar>
                <span class="user-name">{{ fullName }}</span>
                <span nz-icon nzType="down" class="dropdown-arrow"></span>
              </div>
            </span>
          </nz-space>
        </div>
      </div>
    </nz-header>

    <!-- User Dropdown Menu -->
    <nz-dropdown-menu #userMenu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-divider></li>
        <li nz-menu-item (click)="logOut()" class="logout-item">
          <span nz-icon nzType="logout" nzTheme="outline"></span>
          Logout
        </li>
      </ul>
    </nz-dropdown-menu>

    <!-- Content Area -->
    <nz-content class="app-content">
      <div class="content-wrapper">
        <router-outlet></router-outlet>
      </div>
    </nz-content>

    <!-- Footer -->
    <nz-footer class="app-footer">
      <div class="footer-content">
        <div class="footer-left">
          <span>Enat Bank S.C. © 2025. All rights reserved.</span>
        </div>
      </div>
    </nz-footer>
  </nz-layout>
</nz-layout>

<!-- Menu Template -->
<ng-template #menuTemplate>
  <ul nz-menu nzTheme="dark" nzMode="inline" class="app-menu">
    <li nz-menu-item routerLink="/home/welcome" routerLinkActive="ant-menu-item-selected" (click)="isCollapsed = true">
      <span nz-icon nzType="dashboard"></span>
      <span>Dashboard</span>
    </li>
    <li nz-submenu nzTitle="Administration" nzIcon="setting">
      <ul>
        <li *ngIf="haveRole('Admin')" nz-menu-item routerLink="/home/admin/users"
          routerLinkActive="ant-menu-item-selected" (click)="isCollapsed = true">
          <span nz-icon nzType="team"></span>
          <span>Manage Users</span>
        </li>

      </ul>
    </li>
  </ul>
</ng-template>
