<nz-layout class="app-layout">
  <!-- Sidebar -->
  <nz-sider 
    nzCollapsible 
    [(nzCollapsed)]="isCollapsed" 
    [nzTrigger]="null" 
    nzBreakpoint="lg" 
    [nzCollapsedWidth]="80"
    [nzWidth]="240"
    class="app-sider"
  >
    <div class="logo-container">
      <div class="logo">
        <img src="/enat.jpeg" alt="Enat Bank" *ngIf="!isCollapsed" class="logo-image">
        <span class="logo-text" *ngIf="!isCollapsed">Enat Bank</span>
        <img src="/enat.jpeg" alt="Enat" *ngIf="isCollapsed" class="logo-icon">
      </div>
    </div>

    <ul nz-menu nzTheme="dark" nzMode="inline" class="app-menu">
      <!-- Dashboard -->
      <li nz-menu-item routerLink="/home/welcome" routerLinkActive="ant-menu-item-selected">
        <span nz-icon nzType="dashboard"></span>
        <span>Dashboard</span>
      </li>
      


      <!-- Employee -->
      <li nz-submenu nzTitle="Employee" nzIcon="team">
        <ul>
          <li nz-menu-item routerLink="/home/employee/view" routerLinkActive="ant-menu-item-selected">
            <span nz-icon nzType="file-text"></span>
            <span>All Employee </span>
          </li>
        </ul>
      </li>

      <!-- Saving -->
      <li nz-submenu nzTitle="Saving" nzIcon="bank">
        <ul>
          <li nz-menu-item routerLink="/home/saving/view" routerLinkActive="ant-menu-item-selected">
            <span nz-icon nzType="file-text"></span>
            <span>All Savings</span>
          </li>
        </ul>
      </li>

      <!-- Loan -->
      <li nz-submenu nzTitle="Loan" nzIcon="credit-card">
        <ul>
          <li nz-menu-item routerLink="/home/loan-repayment/view" routerLinkActive="ant-menu-item-selected">
            <span nz-icon nzType="file-done"></span>
            <span>All Loan Repayments</span>
          </li>
        </ul>
      </li>

      <!-- Admin -->
      <li nz-submenu nzTitle="Administration" nzIcon="setting">
        <ul>
          <li nz-menu-item routerLink="/home/admin/users" routerLinkActive="ant-menu-item-selected">
            <span nz-icon nzType="team"></span>
            <span>Manage Users</span>
          </li>
          <!-- <li nz-menu-item routerLink="/home/admin/logs" routerLinkActive="ant-menu-item-selected">
            <span nz-icon nzType="database"></span>
            <span>System Logs</span>
          </li> -->
        </ul>
      </li>
    </ul>
  </nz-sider>

  <!-- Main Content -->
  <nz-layout class="site-layout">
    <!-- Header -->
    <nz-header class="app-header">
      <div class="header-content">
        <div class="header-left">
          <button 
            nz-button 
            nzType="text" 
            class="trigger" 
            (click)="toggleCollapsed()"
          >
        <span nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'">
          <i nz-icon nzType="bank" nzTheme="outline" ></i>
        </span>
        </button>
          <nz-breadcrumb class="breadcrumb">
            <nz-breadcrumb-item>Home</nz-breadcrumb-item>
            <nz-breadcrumb-item>{{ currentPage }}</nz-breadcrumb-item>
          </nz-breadcrumb>
        </div>
        
        <div class="header-right">
          <nz-space [nzSize]="16">
            <!--if nceeery i will add this features  Notifications -->
            <!-- <span class="nz-space-item">
              <button nz-button nzType="text" nzShape="circle" nz-tooltip="Notifications">
                <span nz-icon nzType="bell" nzTheme="outline"></span>
              </button>
            </span> -->
            
            <!-- User Profile -->
            <span class="nz-space-item">
              <div class="user-profile" nz-dropdown [nzDropdownMenu]="userMenu">
                <nz-avatar nzIcon="user" class="user-avatar"></nz-avatar>
                <span class="user-name">{{ fullName }}</span>
                <span nz-icon nzType="down" class="dropdown-arrow"></span>
              </div>
            </span>
          </nz-space>
        </div>
      </div>
    </nz-header>

    <!-- User Dropdown Menu -->
    <nz-dropdown-menu #userMenu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-divider></li>
        <li nz-menu-item (click)="logOut()" class="logout-item">
          <span nz-icon nzType="logout" nzTheme="outline"></span>
          Logout
        </li>
      </ul>
    </nz-dropdown-menu>

    <!-- Content Area -->
    <nz-content class="app-content">
      <div class="content-wrapper">
        <router-outlet></router-outlet>
      </div>
    </nz-content>

    <!-- Footer -->
    <nz-footer class="app-footer">
      <div class="footer-content">
        <div class="footer-left">
          <span>Enat Bank S.C. © 2025. All rights reserved.</span>
        </div>
      </div>
    </nz-footer>
  </nz-layout>
</nz-layout>