<nz-card
  [nzTitle]="operation.status==='isCreate'?'Create New User':operation.status==='isUpdate'?'Update User':'undefined'"
  class="responsive-card" *ngIf="operation.status==='isCreate' || operation.status==='isUpdate'">
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">

    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired nzFor="firstName">FirstName</nz-form-label>
      <nz-form-control [nzSpan]="15" nzHasFeedback nzErrorTip="Please input your first name!">
        <input nz-input formControlName="firstName" id="firstName" placeholder="Enter firstName" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired nzFor="lastName">LastName</nz-form-label>
      <nz-form-control [nzSpan]="15" nzHasFeedback nzErrorTip="Please input your LastName!">
        <input nz-input formControlName="lastName" id="lastName" placeholder="Enter lastName" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired nzFor="userName">Username</nz-form-label>
      <nz-form-control [nzSpan]="15" nzHasFeedback nzErrorTip="Please input your username!">
        <input nz-input formControlName="userName" id="userName" placeholder="Enter username" />
      </nz-form-control>
    </nz-form-item>

    <ng-container *ngIf="operation.status !== 'isUpdate'">
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired nzFor="password">Password</nz-form-label>
        <nz-form-control [nzSpan]="15" nzHasFeedback [nzErrorTip]="passwordErrorTpl">
          <input nz-input type="password" formControlName="password" id="password" placeholder="Enter password" />
        </nz-form-control>
        <ng-template #passwordErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">Please input your password!</ng-container>
          <ng-container *ngIf="control.hasError('minlength')">Password must be at least 6 characters.</ng-container>
          <ng-container *ngIf="control.hasError('pattern')">Password must include number, uppercase, lowercase & special
            character.</ng-container>
        </ng-template>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired nzFor="confirmPassword">Confirm Password</nz-form-label>
        <nz-form-control [nzSpan]="15" nzHasFeedback [nzErrorTip]="confirmPasswordErrorTpl">
          <input nz-input type="password" formControlName="confirmPassword" id="confirmPassword"
            placeholder="Re-enter password" />
        </nz-form-control>
        <ng-template #confirmPasswordErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">Please confirm your password!</ng-container>
          <ng-container *ngIf="validateForm.hasError('passwordMismatch')">Passwords do not match!</ng-container>
        </ng-template>
      </nz-form-item>
    </ng-container>

    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired nzFor="email">Email</nz-form-label>
      <nz-form-control [nzSpan]="15" nzHasFeedback [nzErrorTip]="emailErrorTpl">
        <input nz-input formControlName="email" id="email" placeholder="Enter email" />
      </nz-form-control>
      <ng-template #emailErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">Please input your email!</ng-container>
        <ng-container *ngIf="control.hasError('email')">The input is not a valid email!</ng-container>
      </ng-template>
    </nz-form-item>





    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired nzFor="poheNumber">PhoneNumber</nz-form-label>
      <nz-form-control [nzSpan]="15" nzHasFeedback nzErrorTip="pls input phone Number ">
        <input nz-input formControlName="phoneNumber" id="phoneNumber" placeholder="Enter PhoneNumber" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired nzFor="attribute">Attribute</nz-form-label>
      <nz-form-control [nzSpan]="15" nzHasFeedback nzErrorTip="Please input the attribute!">
        <input nz-input formControlName="attribute" id="attribute" placeholder="Enter attribute value" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-row class="register-area">
      <nz-form-control [nzSpan]="15" [nzOffset]="7">
        <button nz-button nzType="primary" [disabled]="validateForm.invalid">
          {{ operation.status === 'isCreate' ? 'Create User' : 'Update User' }}
        </button>
        <button nz-button (click)="resetForm($event)" *ngIf="operation.status !== 'isUpdate'" class="reset-button">
          Reset
        </button>
      </nz-form-control>
    </nz-form-item>

  </form>
</nz-card>




<div *ngIf="operation.status==='isRole'">

  <nz-card [nzTitle]="'Assign Role to User'" class="responsive-card">
    <form nz-form [formGroup]="roleForm" (ngSubmit)="addNewRole()">

      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired nzFor="role">Role</nz-form-label>
        <nz-form-control [nzSpan]="15" nzHasFeedback nzErrorTip="Please input role!">
          <input nz-input formControlName="role" id="role" placeholder="Enter role" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item nz-row class="register-area">
        <nz-form-control [nzSpan]="15" [nzOffset]="7">
          <button nz-button nzType="primary" [disabled]="roleForm.invalid">Create Role </button>
        </nz-form-control>
      </nz-form-item>

    </form>
  </nz-card>
  <nz-tabs nzType="card">
    <nz-tab nzTitle="User Roles">
      <nz-table #usersTable [nzBordered]="true" [nzData]="roles" [nzFrontPagination]="false" [nzPageSize]="pageSize"
        [nzPageSizeOptions]="[5,10,20,30,40,50]" nzShowSizeChanger nzShowPagination [nzTotal]="total"
        (nzPageIndexChange)="onPageChange($event)" (nzPageSizeChange)="onPageSizeChange($event)">

        <thead>
          <tr style="background-color: rgb(45, 39, 134);">
            <th>Role ID</th>
            <th>Role Name</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let role of roles">
            <td>{{role.id}}</td>
            <td>{{ role.roleTypes.role }}</td>
            <td class="button">
              <button nz-button nzType="primary" nzDanger nzSize="small" (click)="deleteRole(role.id)">
                <i nz-icon nzType="delete"></i>Remove</button>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </nz-tab>




    <nz-tab nzTitle="List Roles">
      <nz-table #usersTable [nzBordered]="true" [nzData]="allRoles" [nzFrontPagination]="false" [nzPageSize]="pageSize"
        [nzPageSizeOptions]="[5,10,20,30,40,50]" nzShowSizeChanger nzShowPagination [nzTotal]="total"
        (nzPageIndexChange)="onPageChange($event)" (nzPageSizeChange)="onPageSizeChange($event)">

        <thead>
          <tr style="background-color: rgb(45, 39, 134);">
            <th>Role ID</th>
            <th>Role Name</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let role of allRoles">
            <td>{{role.id}}</td>
            <td>{{ role.role}}</td>
            <td class="button">
              <button nz-button nzType="primary" nzDanger nzSize="small" (click)="assignRole(role.id)">
                <i nz-icon nzType="delete"></i>Assign</button>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </nz-tab>

  </nz-tabs>

</div>

<nz-card *ngIf="operation.status==='isReset'" [nzTitle]="'Reset Password'" class="responsive-card">
  <form nz-form [formGroup]="resetFromPassword" (ngSubmit)="resetPassword()">

    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired nzFor="password">New Password</nz-form-label>
      <nz-form-control [nzSpan]="15" nzHasFeedback [nzErrorTip]="passwordErrorTpl">
        <input nz-input type="password" formControlName="password" id="password" placeholder="Enter new password" />
      </nz-form-control>
      <ng-template #passwordErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">Please input new password!</ng-container>
        <ng-container *ngIf="control.hasError('minlength')">Password must be at least 6 characters.</ng-container>
        <ng-container *ngIf="control.hasError('pattern')">Password must include number, uppercase, lowercase & special
          character.</ng-container>
      </ng-template>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired nzFor="confirmPassword">Confirm Password</nz-form-label>
      <nz-form-control [nzSpan]="15" nzHasFeedback [nzErrorTip]="confirmPasswordErrorTpl">
        <input nz-input type="password" formControlName="confirmPassword" id="confirmPassword"
          placeholder="Re-enter new password" />
      </nz-form-control>
      <ng-template #confirmPasswordErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">Please confirm your password!</ng-container>
        <ng-container *ngIf="resetFromPassword.hasError('passwordMismatch')">Passwords do not match!</ng-container>
      </ng-template>
    </nz-form-item>

    <nz-form-item nz-row class="register-area">
      <nz-form-control [nzSpan]="15" [nzOffset]="7">
        <button nz-button nzType="primary" [disabled]="resetFromPassword.invalid">Reset Password</button>
      </nz-form-control>
    </nz-form-item>

  </form>
</nz-card>